/*** Base ***/
/*** Base del sitio ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #494848;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}

/*** Estructura del sitio ***/
.grid_container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
}

.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textos_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar > .container,
.bg-light {
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.main_container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
  grid-template-rows: auto;
}

.imagen_principal {
  display: flex;
  flex-direction: row;
}

.bienvenida {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .bienvenida {
    flex-direction: column;
  }
}

.titulo_bienvenida {
  justify-content: start;
}
@media screen and (max-width: 767px) {
  .titulo_bienvenida {
    text-align: center;
    justify-content: center;
  }
}

.texto {
  text-align: justify;
}

.tratamientos {
  display: flex;
  flex-direction: column;
}

.tratamientos-dos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .tratamientos-dos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.tratamientos_titulo {
  text-align: center;
  align-items: center;
}

.tratamiento {
  text-align: center;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redes a {
  text-decoration: none;
  text-align: center;
}

.empresa__container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .empresa__container {
    flex-direction: column;
  }
}

.sub__titulo__nosotros {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.info__extra__nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto__nosotros,
.texto__nosotros__dos,
.texto__nosotros__tres,
.frase__nosotros,
.sub__titulo__tratamiento,
.texto__contacto,
.contacto__uno,
.contacto__dos,
.formulario__RRHH,
.texto__RRHH {
  text-align: justify;
}

.fondo__color__tratamientos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.tratamientos__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.columnas {
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
  align-items: justify;
}
@media screen and (max-width: 767px) {
  .columnas {
    flex-direction: column;
    align-items: center;
  }
}

.listado {
  list-style: disc;
  text-align: justify;
}

.descripciones__uno {
  text-align: justify;
}

.color__fondo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.contacto_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.titulo__contacto,
.sub__titulo__RRHH {
  text-align: center;
}

.botones {
  text-align: end;
}

.recursos_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.formulario__dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}
@media screen and (max-width: 767px) {
  .formulario__dos {
    flex-direction: column;
  }
}

.botones__dos {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*** Medidas del sitio ***/
.header_container {
  width: 100%;
  height: auto;
  padding: 20px 30px;
}

.logo__chico {
  width: 290px;
  margin: 20px 0 15px 0;
}
@media screen and (max-width: 767px) {
  .logo__chico {
    width: 230px;
  }
}
@media screen and (max-width: 450px) {
  .logo__chico {
    margin: 20px 0 15px 0;
    width: 190px;
  }
}

.navbar > .container,
.bg-light {
  padding: 5px 0;
}
@media screen and (max-width: 767px) {
  .navbar > .container,
  .bg-light {
    padding: 4px 20px;
  }
}
@media screen and (max-width: 450px) {
  .navbar > .container,
  .bg-light {
    padding: 2px 10px;
  }
}

.nav-link:hover {
  padding: 5px;
  height: 45px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .nav-link:hover {
    height: 40px;
  }
}

.navbar {
  z-index: 10;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.6rem;
  padding-left: 0.5rem;
}
@media screen and (max-width: 767px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.imagen {
  width: 100%;
  height: auto;
}

.bienvenida {
  padding: 50px 30px;
}
@media screen and (max-width: 767px) {
  .bienvenida {
    padding: 40px 20px 40px 20px;
  }
}
@media screen and (max-width: 450px) {
  .bienvenida {
    padding: 30px 10px 20px 10px;
  }
}

.logo__grande {
  width: 290px;
  height: auto;
  border-radius: 50%;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .logo__grande {
    width: 220px;
    margin: 10px 10px 30px 10px;
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .logo__grande {
    width: 190px;
    margin: 15px 10px 25px 10px;
    display: none;
  }
}

.titulo_bienvenida {
  margin-bottom: 15px;
  padding-left: 40px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .titulo_bienvenida {
    padding-left: 10px;
    margin: 10px 0 15px 0;
  }
}

.texto {
  padding-left: 40px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .texto {
    padding-left: 10px;
  }
}

.tratamientos {
  padding: 50px 10px 40px 10px;
}
@media screen and (max-width: 767px) {
  .tratamientos {
    padding: 45px 10px 25px 10px;
  }
}
@media screen and (max-width: 450px) {
  .tratamientos {
    padding: 20px 10px 15px 10px;
  }
}

.tratamientos_titulo {
  margin-top: 10px;
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .tratamientos_titulo {
    margin-top: 10px;
  }
}
@media screen and (max-width: 450px) {
  .tratamientos_titulo {
    margin-bottom: 10px;
  }
}

.img__tratamiento {
  width: 220px;
  height: auto;
  border-radius: 10px;
  margin: 10px 15px 0 15px;
}
@media screen and (max-width: 767px) {
  .img__tratamiento {
    width: 240px;
  }
}
@media screen and (max-width: 450px) {
  .img__tratamiento {
    width: 200px;
  }
}

.tratamiento {
  margin: 20px 0 20px 0;
}

.footer_container {
  width: 100%;
  height: auto;
  padding: 20px 0 15px 0;
}

.fab {
  margin: 0 12px 0 12px;
}

.redes {
  width: 7vw;
  margin: 20px 0 20px 0;
}

.color__fondo {
  height: auto;
}

.empresa__container {
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .empresa__container {
    padding: 20px 10px 20px 10px;
  }
}
@media screen and (max-width: 450px) {
  .empresa__container {
    padding: 0;
  }
}

.img__nosotros {
  width: 370px;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .img__nosotros {
    width: 390px;
    margin: 10px 0 20px 0;
  }
}
@media screen and (max-width: 450px) {
  .img__nosotros {
    width: 313px;
  }
}

.sub__titulo__nosotros {
  margin: 10px 0 10px 30px;
}
@media screen and (max-width: 767px) {
  .sub__titulo__nosotros {
    margin: 20px 20px 15px 20px;
  }
}
@media screen and (max-width: 450px) {
  .sub__titulo__nosotros {
    margin: 15px 10px 10px 10px;
  }
}

.texto__nosotros,
.texto__nosotros__dos,
.texto__nosotros__tres {
  margin: 10px 0 10px 30px;
}
@media screen and (max-width: 767px) {
  .texto__nosotros,
  .texto__nosotros__dos,
  .texto__nosotros__tres {
    margin: 10px 0;
  }
}
@media screen and (max-width: 450px) {
  .texto__nosotros,
  .texto__nosotros__dos,
  .texto__nosotros__tres {
    margin: 10px;
  }
}

.frase__nosotros {
  margin: 15px 0 10px 30px;
}
@media screen and (max-width: 767px) {
  .frase__nosotros {
    margin: 15px 0 0 0;
  }
}
@media screen and (max-width: 450px) {
  .frase__nosotros {
    margin: 15px 10px 0 10px;
  }
}

.fondo__color__tratamientos {
  height: auto;
  padding: 50px 30px 25px 30px;
}
@media screen and (max-width: 767px) {
  .fondo__color__tratamientos {
    padding: 40px 15px 20px 15px;
  }
}
@media screen and (max-width: 450px) {
  .fondo__color__tratamientos {
    padding: 20px 10px 0 10px;
  }
}

.imagen__tratamiento {
  width: 410px;
  height: 295px;
  border-radius: 10px;
  margin: 10px 20px 10px 10px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .imagen__tratamiento {
    width: 380px;
    height: 260px;
    margin: 10px;
  }
}
@media screen and (max-width: 450px) {
  .imagen__tratamiento {
    width: 313px;
    height: 225px;
    margin: 10px 0;
  }
}

.sub__titulo__tratamiento {
  margin: 10px 10px 10px 20px;
}
@media screen and (max-width: 767px) {
  .sub__titulo__tratamiento {
    margin: 10px 20px;
  }
}
@media screen and (max-width: 450px) {
  .sub__titulo__tratamiento {
    margin: 10px;
  }
}

.listado {
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .listado {
    margin: 10px 20px 15px 6px;
  }
}
@media screen and (max-width: 450px) {
  .listado {
    margin: 10px 10px 15px 0;
  }
}

.descripciones__uno {
  margin: 10px 10px 25px 20px;
}
@media screen and (max-width: 767px) {
  .descripciones__uno {
    margin: 10px 20px 20px 20px;
  }
}
@media screen and (max-width: 450px) {
  .descripciones__uno {
    margin: 10px 10px 20px 10px;
  }
}

.color__fondo {
  padding: 40px 25px;
}
@media screen and (max-width: 767px) {
  .color__fondo {
    padding: 30px 20px;
  }
}
@media screen and (max-width: 450px) {
  .color__fondo {
    padding: 30px 10px;
  }
}

.contacto_container {
  padding: 20px 0;
}
@media screen and (max-width: 450px) {
  .contacto_container {
    padding: 0;
  }
}

.formulario__uno {
  max-width: 680px;
  height: auto;
  padding: 30px 40px 40px 40px;
  border-width: 3px;
  border-radius: 10px;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .formulario__uno {
    width: auto;
    padding: 20px 30px 40px 30px;
  }
}
@media screen and (max-width: 450px) {
  .formulario__uno {
    padding: 20px 30px 20px 30px;
  }
}

.titulo__contacto {
  margin: 20px 0 15px 0;
}

.texto__contacto {
  margin: 10px 0 20px 0;
}
@media screen and (max-width: 450px) {
  .texto__contacto {
    margin: 10px 0 25px 0;
  }
}

.casillas {
  width: 100%;
  margin: 8px 0;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .casillas {
    margin: 5px 0;
  }
}

.contacto__uno {
  margin: 5px 0 5px 5px;
}

.opciones {
  width: 170px;
  height: auto;
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
}
@media screen and (max-width: 767px) {
  .opciones {
    width: 160px;
  }
}
@media screen and (max-width: 450px) {
  .opciones {
    width: 145px;
    margin: 0 0 0 5px;
  }
}

.casilla__consulta {
  width: 100%;
  height: auto;
  margin: 8px 0 0 0;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .casilla__consulta {
    margin: 5px 0 0 0;
  }
}

.contacto__dos {
  margin: 5px 0 10px 5px;
}
@media screen and (max-width: 767px) {
  .contacto__dos {
    margin: 5px 0 10px 3px;
  }
}

input[type=checkbox]:checked {
  width: 20px;
  height: 20px;
}

.boton {
  width: 140px;
  height: auto;
  padding: 6px 8px;
  margin: 5px 0 5px 5px;
  border-width: 2px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .boton {
    width: 120px;
    padding: 5px 8px;
  }
}
@media screen and (max-width: 450px) {
  .boton {
    width: auto;
    padding: 5px 15px;
  }
}

.botones {
  margin: 10px 0 20px 0;
}

.recursos_container {
  padding: 20px 0;
}
@media screen and (max-width: 450px) {
  .recursos_container {
    padding: 0;
  }
}

.formulario__dos {
  width: 690px;
  height: auto;
  padding: 30px 40px 50px 40px;
  border-width: 3px;
  border-radius: 10px;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .formulario__dos {
    width: auto;
    padding: 20px 15px 40px 15px;
  }
}
@media screen and (max-width: 450px) {
  .formulario__dos {
    padding: 20px 25px 40px 25px;
  }
}

.formulario__RRHH {
  width: auto;
  height: auto;
  padding: 30px 40px 10px 40px;
  margin-top: 20px;
  border-width: 2px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .formulario__RRHH {
    margin: 30px 20px 10px 20px;
    padding: 30px 30px 20px 30px;
  }
}
@media screen and (max-width: 450px) {
  .formulario__RRHH {
    margin: 30px 0 10px 0;
    padding: 30px 25px 20px 25px;
  }
}

.casilla {
  width: 100%;
  height: auto;
  margin: 8px 0;
  padding: 12px;
  border-width: 1px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .casilla {
    margin: 5px 0;
  }
}

.casilla__mensaje {
  width: 100%;
  height: auto;
  margin: 8px 0;
  padding: 10px;
  border-width: 1px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .casilla__mensaje {
    margin: 5px 0;
  }
}

.sub__titulo__RRHH {
  margin: 20px 0 15px 0;
}

.texto__RRHH {
  margin: 5px 0 0 0;
}
@media screen and (max-width: 767px) {
  .texto__RRHH {
    margin: 10px 20px 0 20px;
  }
}
@media screen and (max-width: 450px) {
  .texto__RRHH {
    margin: 10px 0 0 0;
  }
}

.botones__dos {
  margin: 15px 2px 20px 2px;
}
@media screen and (max-width: 767px) {
  .botones__dos {
    margin-top: 10px;
    margin: 10px 0 10px 0;
  }
}

.boton-1 {
  width: auto;
  height: auto;
  padding: 6px 80px;
  margin: 8px 0;
  border-width: 2px;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .boton-1 {
    margin: 5px 0;
    padding: 6px 5px;
  }
}
@media screen and (max-width: 450px) {
  .boton-1 {
    padding: 5px;
  }
}

/*** Fuentes del sitio ***/
.texto-mayor {
  font-weight: 600;
}

.texto-medio {
  font-weight: 500;
}

.texto-menor {
  font-weight: 400;
}

@font-face {
  font-family: Segoe Script;
  src: url(segoesc.ttf);
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.nombre {
  font-size: 27px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .nombre {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  .nombre {
    font-size: 18px;
  }
}

.frase {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .frase {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .frase {
    font-size: 18px;
  }
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .nav-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .nav-link {
    font-size: 16px;
  }
}

.navbar-toggler {
  font-size: 13px;
}
@media screen and (max-width: 450px) {
  .navbar-toggler {
    font-size: 12px;
  }
}

.fa-solid {
  font-size: 40px;
}
@media screen and (max-width: 767px) {
  .fa-solid {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .fa-solid {
    font-size: 30px;
  }
}

.titulo_bienvenida {
  font-size: 30px;
  font-weight: bold;
  font-family: "Segoe Script";
}
@media screen and (max-width: 767px) {
  .titulo_bienvenida {
    font-size: 26px;
  }
}
@media screen and (max-width: 450px) {
  .titulo_bienvenida {
    font-size: 22px;
  }
}

.texto {
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .texto {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .texto {
    font-size: 18px;
  }
}

.tratamientos_titulo {
  font-family: "Segoe Script";
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .tratamientos_titulo {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .tratamientos_titulo {
    font-size: 20px;
  }
}

.tratamiento {
  font-family: "Segoe Script";
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .tratamiento {
    font-size: 21px;
  }
}
@media screen and (max-width: 450px) {
  .tratamiento {
    font-size: 20px;
  }
}

.derechos {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .derechos {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .derechos {
    font-size: 14px;
  }
}

.redes a {
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .redes a {
    font-size: 31px;
  }
}
@media screen and (max-width: 450px) {
  .redes a {
    font-size: 29px;
  }
}

.sub__titulo__nosotros {
  font-family: "Segoe Script";
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .sub__titulo__nosotros {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .sub__titulo__nosotros {
    font-size: 21px;
  }
}

.texto__nosotros,
.texto__nosotros__dos,
.texto__nosotros__tres,
.descripciones__uno,
.texto__contacto {
  font-size: 19px;
}
@media screen and (max-width: 767px) {
  .texto__nosotros,
  .texto__nosotros__dos,
  .texto__nosotros__tres,
  .descripciones__uno,
  .texto__contacto {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .texto__nosotros,
  .texto__nosotros__dos,
  .texto__nosotros__tres,
  .descripciones__uno,
  .texto__contacto {
    font-size: 17px;
  }
}

.frase__nosotros {
  font-family: "Segoe Script";
  font-size: 19px;
}
@media screen and (max-width: 767px) {
  .frase__nosotros {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .frase__nosotros {
    font-size: 17px;
  }
}

.sub__titulo__tratamiento {
  font-family: "Segoe Script";
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  .sub__titulo__tratamiento {
    font-size: 23px;
  }
}
@media screen and (max-width: 450px) {
  .sub__titulo__tratamiento {
    font-size: 21px;
  }
}

.listado {
  font-family: "Segoe Script";
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .listado {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .listado {
    font-size: 16px;
  }
}

.titulo__contacto {
  font-family: "Segoe Script";
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .titulo__contacto {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .titulo__contacto {
    font-size: 21px;
  }
}

.opciones {
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .opciones {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .opciones {
    font-size: 15px;
  }
}

.atencion {
  font-size: 19px;
}
@media screen and (max-width: 767px) {
  .atencion {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .atencion {
    font-size: 17px;
  }
}

.acepta {
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  .acepta {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .acepta {
    font-size: 14px;
  }
}

.contacto__dos {
  font-size: 14px;
}

.boton, .boton-1 {
  font-family: "Segoe Script";
  font-size: 19px;
}
@media screen and (max-width: 767px) {
  .boton, .boton-1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .boton, .boton-1 {
    font-size: 17px;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  button,
  input,
  optgroup,
  select,
  textarea {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  button,
  input,
  optgroup,
  select,
  textarea {
    font-size: 16px;
  }
}

.sub__titulo__RRHH {
  font-family: "Segoe Script";
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .sub__titulo__RRHH {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .sub__titulo__RRHH {
    font-size: 21px;
  }
}

.texto__RRHH {
  font-size: 19px;
}
@media screen and (max-width: 767px) {
  .texto__RRHH {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .texto__RRHH {
    font-size: 17px;
  }
}

/*** Colores del sitio ***/
body,
.redes a {
  color: #494848;
}

.navbar {
  background-color: #fff !important;
}

.navbar-light,
.nav-link,
.navbar-toggler {
  color: #494848 !important;
}

.nav-link:hover {
  background-color: rgba(236, 169, 174, 0.6784313725);
}

.fa-solid {
  color: #f0778f !important;
}

.bienvenida {
  background-color: rgba(236, 169, 173, 0.8666666667);
}

.logo__grande {
  box-shadow: 0 0 30px #fa818b;
}

.titulo_bienvenida,
.tratamientos_titulo,
.tratamiento,
.sub__titulo__nosotros,
.frase__nosotros,
.listado,
.sub__titulo__tratamiento,
.titulo__contacto,
.sub__titulo__RRHH {
  color: #f0778f;
}

.footer_container {
  background-color: #eca9af;
}

.color__fondo,
.fondo__color__tratamientos {
  background-color: rgba(193, 10, 184, 0.1058823529);
}

.formulario__uno {
  border-color: #f0778f;
  border-style: solid;
  box-shadow: 0 0 30px #fa818b;
}

.casillas,
.opciones,
.casilla__consulta {
  background-color: #fff;
  border-color: #f0778f;
}

.casillas:focus,
.contacto__uno:focus,
.casilla__consulta:focus {
  border: 1px solid #fa818b;
  box-shadow: 0 0 10px #fa818b;
}

.opciones {
  color: #6c757d;
}

.boton {
  border-color: #f0778f;
  background-color: rgba(236, 169, 173, 0.3803921569);
  border-style: solid;
  color: #494848;
}

.boton:hover,
.boton-1:hover {
  box-shadow: 0 0 10px #fa818b;
}

.formulario__dos {
  border-color: #f0778f;
  border-style: solid;
  box-shadow: 0 0 30px #fa818b;
}

.formulario__RRHH {
  border-color: #f0778f;
  border-style: solid;
  box-shadow: 0 0 9px #fa818b;
}

.casilla,
.casilla__mensaje {
  background-color: #fff;
}

.casilla:focus,
.casilla__mensaje:focus {
  border: 1px solid #fa818b;
  box-shadow: 0 0 10px #fa818b;
  transition: 0.2s ease all;
}

button,
input,
optgroup,
select,
textarea {
  border-color: #f0778f;
}

.boton-1 {
  border-color: #f0778f;
  background-color: rgba(236, 169, 173, 0.3803921569);
  border-style: solid;
  color: #494848;
}

/*** Animaciones del sitio ***/
.header_container,
.footer_container {
  background: linear-gradient(-50deg, #fa818b 25%, rgba(238, 138, 158, 0.662745098) 38%, #b085ae 50%, #eb8fb0 62%, #b085ae 75%, #fa818b 100%);
  background-size: 400% 400%;
  position: relative;
  animation: animate 6.5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.nav-link,
.tratamiento,
.logo__grande,
.fa-solid,
.redes a {
  cursor: pointer;
}

.nav-link:hover,
.img__tratamiento,
.fa-solid,
.logo__grande,
.redes a {
  transition: all 0.4s ease-in-out;
}

.img__tratamiento:hover,
.fa-solid:hover,
.logo__grande:hover {
  transform: scale(1.1);
}

.tratamiento,
a:link {
  text-decoration: none;
}

.redes a:hover {
  transform: scale(1.2);
}

.casillas:focus,
.contacto__uno:focus,
.casilla__consulta:focus,
.boton:hover,
.boton-1:hover {
  transition: 0.2s ease all;
}

input[type=checkbox]:checked {
  transition: all 0.4s;
}

@font-face {
  font-family: Segoe Script;
  src: url(../segoesc.ttf);
}

/*# sourceMappingURL=style.css.map */
