/*** Animaciones del sitio ***/

.header_container,
.footer_container {
  background: linear-gradient(
    -50deg,
    #fa818b 25%,
    #ee8a9ea9 38%,
    #b085ae 50%,
    #eb8fb0 62%,
    #b085ae 75%,
    #fa818b 100%
  );
  background-size: 400% 400%;
  position: relative;
  animation: animate 6.5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.nav-link,
.tratamiento,
.redes a {
  cursor: pointer;
}

.nav-link:hover,
.img__tratamiento,
.redes a {
  transition: all 0.4s ease-in-out;
}

.img__tratamiento:hover {
  transform: scale(1.1);
}

.tratamiento,
a:link {
  text-decoration: none;
}

.redes a:hover {
  transform: scale(1.2);
}

.casillas:focus,
.contacto__uno:focus,
.casilla__consulta:focus,
.boton:hover,
.boton-1:hover {
  transition: 0.2s ease all;
}

input[type="checkbox"]:checked {
  transition: all 0.4s;
}
