/*** Base del sitio ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #494848;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
}
