/*** Fuentes del sitio ***/

$fuente-mayor: bold;
$fuente-media: normal;
$fuente-menor: lighter;

body {
  font-family: "Merienda", cursive;
  font-weight: $fuente-menor;
}
.navbar-brand {
  font-weight: $fuente-mayor;
  font-size: 1.125rem;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875rem;
  }
}
.navbar-toggler {
  font-size: 0.75rem;
  @media (max-width: 767px) {
    font-size: 0.5rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.5rem;
  }
}
.navbar-collapse {
  @media (max-width: 767px) {
    font-size: 0.8125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.nombre {
  font-size: 1.5625rem;
  font-weight: $fuente-mayor;
  @media (max-width: 767px) {
    font-size: 1.325rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.9375rem;
  }
}
.frase {
  font-family: "Satisfy", cursive;
  font-size: 1.5625rem;
  @media (max-width: 767px) {
    font-size: 0.9375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.titulo {
  font-size: 1.4375rem;
  font-weight: $fuente-mayor;
  @media (max-width: 767px) {
    font-size: 1.375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 1rem;
  }
}
.texto {
  font-size: 1.0625rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.titulo__uno {
  font-weight: $fuente-mayor;
  font-size: 1.375rem;
  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.9375rem;
  }
}
.tratamiento {
  font-size: 1.25rem;
  @media (max-width: 767px) {
    font-size: 0.8125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.derechos {
  font-family: "open sans", cursive;
  font-weight: $fuente-mayor;
  font-size: 0.75rem;
  @media (max-width: 767px) {
    font-size: 0.75rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.5625rem;
  }
}
.redes {
  a {
    font-size: 1.25rem;
    @media (max-width: 767px) {
      font-size: 1.0625rem;
    }
    @media screen and (min-width: 350px) and (max-width: 500px) {
      font-size: 1.0625rem;
    }
  }
}
