/*** Fuentes del sitio ***/

$fuentes: (
  mayor: bold,
  medio: normal,
  menor: lighter,
);

@each $medida, $valor in $fuentes {
  .texto-#{$medida} {
    font-weight: $valor;
  }
}

body {
  font-family: "Merienda", cursive;
}
.navbar-brand {
  font-size: 1.125rem;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875rem;
  }
}
.navbar-toggler {
  font-size: 0.75rem;
  @media (max-width: 767px) {
    font-size: 0.5rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.5rem;
  }
}
.navbar-collapse {
  @media (max-width: 767px) {
    font-size: 0.8125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.nombre {
  font-size: 1.5625rem;
  @media (max-width: 767px) {
    font-size: 1.325rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 1rem;
  }
}
.frase {
  font-family: "Satisfy", cursive;
  font-size: 1.5625rem;
  @media (max-width: 767px) {
    font-size: 0.9375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.titulo {
  font-size: 1.5rem;
  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.969rem;
  }
}
.texto {
  font-size: 1.0625rem;
  @media (max-width: 767px) {
    font-size: 0.938rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.813rem;
  }
}
.titulo__uno {
  font-size: 1.5rem;
  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.969rem;
  }
}
.tratamiento {
  font-size: 1.313rem;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.906rem;
  }
}
.derechos {
  font-family: "open sans", cursive;
  font-size: 0.75rem;
  @media (max-width: 767px) {
    font-size: 0.75rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.5625rem;
  }
}
.redes {
  a {
    font-size: 1.25rem;
    @media (max-width: 767px) {
      font-size: 1.0625rem;
    }
    @media screen and (min-width: 350px) and (max-width: 500px) {
      font-size: 1.0625rem;
    }
  }
}
