/*** Medidas del sitio ***/

$textAlineacion-primaria: center;
$textAlineacion-secundaria: right;
$textAlineacion-terciaria: justify;
$alineacionItem-primario: center;
$alineacionItem-secundario: flex-end;
$alineacionItem-terciario: flex-start;
$justifyContent-primario: space-evenly;
$justifyContent-secundario: space-between;
$justifyContent-terciario: space-around;
$justifyContent-cuaternario: flex-end;

.navbar-brand {
  padding-bottom: 0.3125rem;
}
.navbar-nav {
  padding-bottom: 0.3125rem;
}
.nav-link:hover {
  padding: 0.3125rem;
  border-radius: 5px;
}
.navbar {
  z-index: 10;
}
.imagen {
  width: 100%;
}
.navbar-toggler {
  border-radius: 5px;
  @media (max-width: 767px) {
    border-radius: 5px;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    border-radius: 5px;
  }
}
.logo__chico {
  width: 150px;
  height: 150px;
  margin: 0.9375rem 0 0 0.9375rem;
  border-radius: 50%;
  @media (max-width: 767px) {
    width: 120px;
    height: 120px;
    margin: 1.25rem 0 0 0.625rem;
    border-radius: 50%;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 90px;
    height: 90px;
    margin: 0.9375rem 0 0 0.625rem;
    border-radius: 50%;
  }
}
.nombre {
  align-items: $alineacionItem-primario;
  margin: 4.688rem 0 0 0.625rem;
  @media (max-width: 767px) {
    margin: 4.25rem 0 0 0.625rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin: 0.909rem 4.1885rem 0 0;
  }
}
.frase {
  text-align: $textAlineacion-secundaria;
  margin: 0.75rem 1.25rem 0 0;
  @media (max-width: 767px) {
    text-align: $textAlineacion-secundaria;
    margin: 1.125rem 0.9375rem 0 0;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin: 0.938rem 0.9375rem 0 0;
  }
}
.logo__grande {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  @media (max-width: 767px) {
    width: 245px;
    height: 245px;
    border-radius: 50%;
    margin-top: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 200px;
    height: 200px;
    margin-top: 1.25rem;
    border-radius: 50%;
  }
}

.texto {
  text-align: $textAlineacion-terciaria;
  margin-right: 3.125rem;
  @media (max-width: 767px) {
    text-align: $textAlineacion-terciaria;
    margin: 0.9375rem 1.25rem 0.625rem 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    text-align: $textAlineacion-terciaria;
    margin: 0.9375 1.25rem 0.625rem 1.25rem;
  }
}
.tratamiento {
  text-align: $textAlineacion-primaria;
  margin: 3.5rem 0 2.5rem;
  @media (max-width: 767px) {
    text-align: $textAlineacion-primaria;
    margin: 5.5rem 0 2.5rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    text-align: $textAlineacion-primaria;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
  }
}
.img__tratamiento {
  width: 14.188rem;
  height: 20.625rem;
  border-radius: 10px;
  @media (max-width: 767px) {
    width: 8.75rem;
    height: 12.813rem;
    border-radius: 10px;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 7.5rem;
    height: 10.625rem;
    border-radius: 10px;
  }
}
.derechos {
  margin-left: 1.25rem;
  @media (max-width: 767px) {
    margin-left: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin-left: 0.688rem;
  }
}
.fa-brands {
  margin-right: 0.06rem;
}
.redes {
  min-width: 8.75rem;
  margin-right: 1.25rem;
  @media (max-width: 767px) {
    min-width: 6.25rem;
    margin-right: 1.0625rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    min-width: 3.75rem;
    margin-right: 0.625rem;
  }
}
.redes {
  a {
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: $textAlineacion-primaria;
    border-radius: 50%;

    @media (max-width: 767px) {
      text-decoration: none;
      width: 1.875rem;
      height: 1.875rem;
      line-height: 1.875rem;
      text-align: $textAlineacion-primaria;
      border-radius: 50%;
    }
    @media screen and (min-width: 350px) and (max-width: 500px) {
      text-decoration: none;
      width: 1.75rem;
      height: 1.75rem;
      line-height: 1.75rem;
      text-align: $textAlineacion-primaria;
      border-radius: 50%;
    }
  }
}
