/*** Fuentes del sitio ***/

$fuentes: (
  mayor: 600,
  medio: 500,
  menor: 400,
);

@each $medida, $valor in $fuentes {
  .texto-#{$medida} {
    font-weight: $valor;
  }
}

@font-face {
  font-family: Segoe Script;
  src: url(segoesc.ttf);
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.nombre {
  font-size: 35px;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 26px;
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 20px;
  }
}

.frase {
  font-size: 27px;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 18px;
  }
}

.nav-link {
  font-size: 22px;
  font-weight: bold;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 18px;
  }
}

.navbar-toggler {
  font-size: 14px;

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 13px;
  }
}

.fa-solid {
  font-size: 47px;

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 34px;
  }
}

.titulo_bienvenida {
  font-size: 34px;
  font-weight: bold;
  font-family: "Segoe Script";

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 27px;
  }
}

.texto {
  font-size: 24px;

  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 20px;
  }
}

.tratamientos_titulo {
  font-family: "Segoe Script";
  font-size: 32px;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 26px;
  }
}

.tratamiento {
  font-family: "Segoe Script";
  font-size: 26px;

  @media screen and (max-width: 767px) {
    font-size: 23px;
  }
  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 21px;
  }
}

.derechos {
  font-size: 18px;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 15px;
  }
}

.redes a {
  font-size: 40px;

  @media screen and (max-width: 767px) {
    font-size: 36px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 31px;
  }
}

.sub__titulo__nosotros {
  font-family: "Segoe Script";
  font-size: 32px;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 26px;
  }
}

.texto__nosotros,
.texto__nosotros__dos,
.texto__nosotros__tres,
.descripciones__uno,
.texto__contacto {
  font-size: 22px;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 19px;
  }
}

.frase__nosotros {
  font-family: "Segoe Script";
  font-size: 24px;

  @media screen and (max-width: 767px) {
    font-size: 22px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 20px;
  }
}

.sub__titulo__tratamiento {
  font-family: "Segoe Script";
  font-size: 32px;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 26px;
  }
}

.listado {
  font-family: "Segoe Script";
  font-size: 20px;

  @media screen and (max-width: 767px) {
    font-size: 19px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 18px;
  }
}

.titulo__contacto {
  font-family: "Segoe Script";
  font-size: 32px;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 26px;
  }
}

.opciones {
  font-size: 18px;

  @media screen and (max-width: 767px) {
    font-size: 17px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 16px;
  }
}

.atencion,
.acepta {
  font-size: 20px;

  @media screen and (max-width: 767px) {
    font-size: 19px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 18px;
  }
}

.contacto__dos {
  font-size: 15px;
}

.boton {
  font-family: "Segoe Script";
  font-size: 21px;

  @media screen and (max-width: 767px) {
    font-size: 19px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 18px;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 19px;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 17px;
  }
}

.sub__titulo__RRHH {
  font-family: "Segoe Script";
  font-size: 32px;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 26px;
  }
}

.texto__RRHH {
  font-size: 21px;
  @media screen and (max-width: 767px) {
    font-size: 19px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 18px;
  }
}

.boton-1 {
  font-family: "Segoe Script";
  font-size: 22px;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }

  @media screen and (min-width: 350px) and (max-width: 450px) {
    font-size: 19px;
  }
}
