/* MAIN - GENERAL*/

.color__fondo {
  background-color: #f3dadd;
  height: 81.25rem;
}
.empresa__container {
  grid-area: empresa__container;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}
.img__nosotros {
  width: 25rem;
  height: 36.875rem;
  border-radius: 10px;
  box-shadow: 0 0.625rem 0.9375rem 0 #eca9af;
}
.titulo__nosotros {
  color: #757575;
  font-weight: bold;
  font-size: 1.4375rem;
  text-align: center;
  margin: 2.5rem 0 1.875rem 0;
}
.sub__titulo__nosotros {
  color: #757575;
  text-align: center;
  font-weight: bold;
  font-size: 1.875rem;
  margin: 3.125rem 0 0.9375rem;
}
.texto__nosotros {
  color: #757575;
  text-align: justify;
  font-weight: normal;
  font-size: 0.9375rem;
  margin: 0.625rem 2.5rem 0 2.5rem;
}
.texto__nosotros__dos {
  color: #757575;
  text-align: justify;
  font-weight: normal;
  font-size: 0.9375rem;
  margin: 0.3125rem 2.5rem 0 2.5rem;
}
.texto__nosotros__tres {
  color: #757575;
  text-align: justify;
  font-weight: normal;
  font-size: 0.9375rem;
  margin: 0.3125rem 2.5rem 0 2.5rem;
}
.frase__nosotros {
  font-size: 15px;
  color: #f0778f;
  text-align: justify;
  font-weight: bold;
  margin: 0.625rem 2.5rem 2.5rem 2.5rem;
}

/* info - extra */

.info__extra__dos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__extra__dos {
  width: 15rem;
  height: 10.625rem;
  background-color: #f2f2f2;
  border-color: #eca9af;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  margin-top: 3.75rem;
}
.titulo__img__dos {
  color: #f0778f;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1.875rem;
}
.texto__img__dos {
  color: #757575;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}
.frase__img__dos {
  color: #f0778f;
  font-weight: bold;
  font-size: 1.3125rem;
}

/* MEDIAS QUERIS */

/*** VISTA PARA DESKTOP - con la que se realizó la página web ***/

@media (max-width: 1200px) {
  .grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 11.25rem 3.125rem 81.25rem 3.75rem;
    grid-auto-flow: row;
    grid-template-areas:
      "header_container"
      "nav_container"
      "empresa__container"
      "footer_container";
  }
}

/*** VISTA PARA TABLET ***/

@media (max-width: 767px) {
  .grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem 3.125rem 81.25rem 3.75rem;
    grid-template-areas:
      "header_container"
      "nav_container"
      "empresa__container"
      "footer_container";
  }

  /* EMPRESA - CONTAINER (MAIN) */
  .empresa__container {
    grid-area: empresa__container;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
  }
  .img__nosotros {
    width: 25rem;
    height: 36.875rem;
    border-radius: 10px;
    box-shadow: 0 0.625rem 0.9375rem 0 #eca9af;
  }
  .titulo__nosotros {
    color: #757575;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    margin: 2.5rem 0 1.875rem 0;
  }
  .sub__titulo__nosotros {
    color: #757575;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin: 2.5rem 0 1.25rem;
  }
  .texto__nosotros {
    color: #757575;
    text-align: justify;
    font-weight: normal;
    font-size: 0.8125rem;
    margin: 0.625rem 2.5rem 0 2.5rem;
  }
  .texto__nosotros__dos {
    color: #757575;
    text-align: justify;
    font-weight: normal;
    font-size: 0.75rem;
    margin:0.3125rem 2.5rem 0 2.5rem;
  }
  .texto__nosotros__tres {
    color: #757575;
    text-align: justify;
    font-weight: normal;
    font-size: 0.8125rem;
    margin: 0.3125rem 2.5rem 0 2.5rem;
  }
  .frase__nosotros {
    font-size: 0.8125rem;
    color: #f0778f;
    text-align: justify;
    font-weight: bold;
    margin: 0.625rem 2.5rem 2.5rem 2.5rem;
  }
}

/*** VISTA PARA MOBILE ***/

@media screen and (min-width: 350px) and (max-width: 500px) {
  .grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7.5rem 3.125rem 81.25rem 3.125rem;
    grid-template-areas:
      "header_container"
      "nav_container"
      "empresa__container"
      "footer_container";
  }

  /* EMPRESA - CONTAINER (MAIN) */

  .empresa__container {
    grid-area: empresa__container;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
  }
  .img__nosotros {
    width: 18.75rem;
    height: 29.375rem;
    border-radius: 10px;
    box-shadow: 0 0.625rem 0.9375rem 0 #eca9af;
  }
  .titulo__nosotros {
    color: #757575;
    font-weight: bold;
    font-size: 0.9375rem;
    text-align: center;
    margin: 2.5rem 0 1.875rem 0;
  }
  .sub__titulo__nosotros {
    color: #757575;
    text-align: center;
    font-weight: bold;
    font-size: 0.8125rem;
    margin: 1.875rem 0 0.625rem;
  }
  .texto__nosotros {
    color: #757575;
    text-align: justify;
    font-weight: normal;
    font-size: 0.75rem;
    margin: 0.625rem 2.5rem 0 2.5rem;
  }
  .texto__nosotros__dos {
    color: #757575;
    text-align: justify;
    font-weight: normal;
    font-size: 0.75rem;
    margin: 0.3125rem 2.5rem 0 2.5rem;
  }
  .texto__nosotros__tres {
    color: #757575;
    text-align: justify;
    font-weight: normal;
    font-size: 0.75rem;
    margin: 0.3125rem 2.5rem 0 2.5rem;
  }
  .frase__nosotros {
    font-size: 0.75rem;
    color: #f0778f;
    text-align: justify;
    font-weight: bold;
    margin: 0.625rem 2.5rem 2.5rem 2.5rem;
  }
}
