* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body - general*/

body {
  font-family: "Merienda", cursive;
  font-weight: lighter;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  margin: auto;
}

/* NAV - BOOTSTRAP */

.navbar > .container {
  background-color: #f2f2f2 !important;
}
.bg-light {
  background-color: #f2f2f2 !important;
}
.navbar-brand {
  color: #757575 !important;
  font-weight: bold;
  font-size: 18px;
}
.navbar-toggler {
  font-size: 12px;
  border-color: #757575 !important;
  border-radius: 5px;
}
.navbar-light .navbar-toggler {
  color: #757575 !important;
}
.nav-link:hover {
  background-color: #eca9af;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

/* GRID - CONTAINER GENERAL */

.grid_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 180px 50px 1300px 60px;
  grid-auto-flow: row;
  grid-template-areas:
    "header_container"
    "nav_container"
    "main_container"
    "footer_container";
}

/* HEADER - CONTAINER */

.header_container {
  grid-area: header_container;
  background-color: #eca9af;
  display: flex;
  justify-content: space-between;
}
.logo__chico {
  width: 170px;
  height: 170px;
  margin: 5px 0 0 5px;
  border-radius: 50%;
}
.nombre {
  color: #757575;
  font-size: 25px;
  font-weight: bold;
  margin: 70px 0 0 10px;
}
.frase {
  font-family: "Satisfy", cursive;
  color: #757575;
  font-size: 20px;
  text-align: right;
  margin: 30px 30px 0 0;
}
/* MAIN - CONTAINER */

.main_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px 360px 50px 500px;
  grid-auto-flow: row;
  grid-template-areas:
    "imagen_principal"
    "bienvenida"
    "tratamientos_titulo"
    "tratamientos";
}

/* imagen - principal */

.imagen_principal {
  grid-area: imagen_principal;
  display: flex;
  flex-direction: row;
}
.imagen {
  width: 100%;
}

/* bienvenida */

.bienvenida {
  grid-area: bienvenida;
  background-color: #eca9af;
  display: flex;
  text-align: justify;
  align-items: center;
}
.logo__grande {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.titulo {
  color: #757575;
  font-size: 23px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
.texto {
  color: #757575;
  text-align: justify;
  font-size: 17px;
  margin-right: 50px;
}

/* tratamientos */

.tratamientos_titulo {
  grid-area: tratamientos_titulo;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.titulo__uno {
  color: #757575;
  font-weight: bold;
  font-size: 22px;
}
.tratamientos {
  grid-area: tratamientos;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
}
.tratamiento {
  font-size: 20px;
  color: #f0778f;
  text-align: center;
  margin: 40px 0 20px;
}
.img__tratamiento {
  width: 13.125rem;
  height: 18.75rem;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.img__tratamiento:hover {
  transform: scale(1.1);
}

/* FOOTER - CONTAINER */

.footer_container {
  grid-area: footer_container;
  background-color: #eca9af;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.derechos {
  color: #6a6969;
  font-family: "open sans", cursive;
  font-weight: bold;
  font-size: 10px;
  margin-left: 20px;
}
.redes {
  min-width: 140px;
  margin-right: 20px;
}
.redes a {
  text-decoration: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #757575;
  color: #fff;
  border-radius: 50%;
  box-shadow: 2x 2x 5x rgba(0, 0, 0, 5);
  transition: all 0.4s ease-in-out;
}
.redes a:hover {
  transform: scale(1.2);
}

/* MEDIAS QUERIS */

/*** VISTA PARA DESKTOP - con la que se realizó la página web ***/

@media (max-width: 1200px) {
  .grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 180px 50px 1300px 60px;
    grid-auto-flow: row;
    grid-template-areas:
      "header_container"
      "nav_container"
      "main_container"
      "footer_container";
  }
}

/*** VISTA PARA TABLET ***/

@media (max-width: 767px) {
  .grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 160px 50px 1250px 60px;
    grid-template-areas:
      "header_container"
      "nav_container"
      "main__container"
      "footer_container";
  }

  /* NAV */

  .navbar-toggler {
    font-size: 8px;
    border-color: #757575 !important;
    border-radius: 5px;
  }
  .navbar-brand {
    color: #757575 !important;
    font-weight: bold;
    font-size: 16px;
  }
  .navbar-collapse {
    font-size: 13px;
  }

  /* HEADER - CONTAINER */

  .header_container {
    grid-area: header_container;
    background-color: #eca9af;
    display: flex;
    justify-content: space-between;
  }
  .logo__chico {
    width: 150px;
    height: 150px;
    margin: 5px 0 0 5px;
    border-radius: 50%;
  }
  .nombre {
    color: #757575;
    font-size: 16px;
    margin: 70px 0 25px 0;
  }
  .frase {
    font-family: "Satisfy", cursive;
    color: #757575;
    font-size: 14px;
    text-align: right;
    margin: 30px 30px 0 0;
  }

  /* MAIN - CONTAINER */

  .main_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 350px 480px 50px 370px;
    grid-auto-flow: row;
    grid-template-areas:
      "imagen_principal"
      "bienvenida"
      "tratamientos_titulo"
      "tratamientos";
  }

  /* imagen - principal */

  .imagen_principal {
    grid-area: imagen_principal;
    display: flex;
    flex-direction: row;
  }
  .imagen {
    width: 100%;
  }

  /* bienvenida */

  .bienvenida {
    grid-area: bienvenida;
    background-color: #eca9af;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo__grande {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .titulo {
    color: #757575;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
  }
  .texto {
    color: #757575;
    text-align: justify;
    font-size: 14px;
    margin: 15px 30px 10px 30px;
  }

  /* tratamientos */

  .tratamientos_titulo {
    grid-area: tratamientos_titulo;
    background-color: #f2f2f2;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  .titulo__uno {
    color: #757575;
    font-size: 20px;
  }
  .tratamientos {
    grid-area: tratamientos;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
  }
  .tratamiento {
    font-size: 14px;
    color: #f0778f;
    text-align: center;
  }
  .img__tratamiento {
    width: 8.75rem;
    height: 12.813rem;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
  }
  .img__tratamiento:hover {
    transform: scale(1.1);
  }

  /* FOOTER - CONTAINER */

  .footer_container {
    grid-area: footer_container;
    background-color: #eca9af;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .derechos {
    color: #6a6969;
    font-family: "open sans", cursive;
    font-size: 8px;
    margin-left: 20px;
  }
  .redes {
    min-width: 100px;
    margin-right: 20px;
  }
  .redes a {
    text-decoration: none;
    font-size: 17px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #757575;
    color: #fff;
    border-radius: 50%;
    box-shadow: 2x 2x 5x rgba(0, 0, 0, 5);
    transition: all 0.4s ease-in-out;
  }
  .redes a:hover {
    transform: scale(1.2);
  }
}

/*** VISTA PARA MOBILE ***/

@media screen and (min-width: 350px) and (max-width: 500px) {
  .grid_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 120px 50px 1450px 50px;
    grid-template-areas:
      "header_container"
      "nav_container"
      "main__container"
      "footer_container";
  }

  /* NAV */

  .navbar-toggler {
    font-size: 8px;
    border-color: #757575 !important;
    border-radius: 5px;
  }
  .navbar-brand {
    color: #757575 !important;
    font-weight: bold;
    font-size: 14px;
  }
  .navbar-collapse {
    font-size: 13px;
    padding: 2px;
  }

  /* HEADER - CONTAINER */

  .header_container {
    grid-area: header_container;
    background-color: #eca9af;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .logo__chico {
    width: 110px;
    height: 110px;
    margin: 5px 0 0 0;
    border-radius: 50%;
  }
  .nombre {
    color: #757575;
    font-size: 13px;
    margin: 15px 95px 0 0;
  }
  .frase {
    font-family: "Satisfy", cursive;
    color: #757575;
    font-size: 13px;
    margin: 20px 20px 0 0;
  }

  /* MAIN - CONTAINER */

  .main_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 250px 465px 50px 685px;
    grid-auto-flow: row;
    grid-template-areas:
      "imagen_principal"
      "bienvenida"
      "tratamientos_titulo"
      "tratamientos";
  }

  /* imagen - principal */

  .imagen_principal {
    grid-area: imagen_principal;
    display: flex;
    flex-direction: row;
  }
  .imagen {
    width: 100%;
  }

  /* bienvenida */

  .bienvenida {
    grid-area: bienvenida;
    background-color: #eca9af;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo__grande {
    width: 210px;
    height: 210px;
    margin-top: 10px;
    border-radius: 50%;
  }
  .titulo {
    color: #757575;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  .texto {
    color: #757575;
    text-align: justify;
    font-size: 12px;
    margin: 15px 30px 10px 30px;
  }

  /* tratamientos */

  .tratamientos_titulo {
    grid-area: tratamientos_titulo;
    background-color: #f2f2f2;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  .titulo__uno {
    color: #757575;
    font-size: 15px;
  }
  .tratamientos {
    grid-area: tratamientos;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .tratamiento {
    font-size: 12px;
    color: #f0778f;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .img__tratamiento {
    width: 7.5rem;
    height: 10.625rem;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
  }
  .img__tratamiento:hover {
    transform: scale(1.1);
  }

  /* FOOTER - CONTAINER */

  .footer_container {
    grid-area: footer_container;
    background-color: #eca9af;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .derechos {
    color: #6a6969;
    font-family: "open sans", cursive;
    font-size: 6px;
    margin-left: 10px;
  }
  .redes {
    min-width: 60px;
    margin-right: 10px;
  }
  .redes a {
    text-decoration: none;
    font-size: 15px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #757575;
    color: #fff;
    border-radius: 50%;
    box-shadow: 2x 2x 5x rgba(0, 0, 0, 5);
    transition: all 0.4s ease-in-out;
  }
  .redes a:hover {
    transform: scale(1.2);
  }
}
