/*** Colores - Recursos humanos ***/

.color__fondo {
  background-color: $baseTerciaria-color;
}
.texto__RRHH,
.texto__img__dos,
.titulo__img__dos {
  color: $fuentePrimaria-color;
}
.formulario__dos,
.formulario__RRHH {
  border-color: $basePrimaria-color;
  border-style: solid;
}
.casilla,
.casilla__mensaje {
  background-color: $baseSecundaria-color;
  border-color: $fuenteSecundaria-color;
  border-style: solid;
}
.boton {
  background-color: $basePrimaria-color;
  color: $fuentePrimaria-color;
  border-color: $fuenteSecundaria-color;
  border-style: solid;
}
.boton:hover {
  background-color: $baseSecundaria-color;
}
.boton:active {
  background-color: $baseCuaternaria-color;
}
.info__extra__dos {
  background-color: $baseSecundaria-color;
  border-color: $basePrimaria-color;
  border-style: solid;
}
.titulo__img__dos,
.sub__titulo__RRHH,
.frase__img__dos {
  color: $fuenteSecundaria-color;
}
