/*** Fuentes - Recursos humanos ***/

.titulo__RRHH {
  font-weight: $fuente-mayor;
  font-size: 1.4375rem;
  @media (max-width: 767px) {
    font-size: 1.125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.9375rem;
  }
}
.sub__titulo__RRHH {
  font-weight: $fuente-mayor;
  font-size: 1.375rem;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875rem;
  }
}
.texto__RRHH {
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.8125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.casilla {
  font-family: Georgia;
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.casilla__mensaje {
  font-family: Georgia;
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.botones__dos {
  font-size: 3.125rem;
  @media (max-width: 767px) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 1.875rem;
  }
}
.boton {
  font-family: "Merienda", cursive;
  font-size: 0.875rem;
  @media (max-width: 767px) {
    font-size: 0.8125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.titulo__img__dos {
  font-weight: $fuente-mayor;
  font-size: 1rem;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875rem;
  }
}
.texto__img__dos {
  font-size: 0.875rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.frase__img__dos {
  font-weight: $fuente-mayor;
  font-size: 1.3125rem;
  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.9375rem;
  }
}
