/*** Medidas - Recursos humanos ***/

.color__fondo {
  height: 83rem;
  padding-top: 130px;
  @media (max-width: 767px) {
    padding-top: 65px;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    padding-top: 65px;
    
  }
}

.formulario__dos {
  width: 46.875rem;
  height: 45rem;
  margin: 0 0.625rem 0 0.625rem;
  padding-bottom: 1.25rem;
  border-radius: 10px;
  border-width: 5px;
  @media (max-width: 767px) {
    width: 28.125rem;
    height: 65.625rem;
    margin: 0 0.3125rem 0 0.3125rem;
    padding-top: 0.625rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 20.625rem;
    height: 63.75rem;
    padding-top: 0.625rem;
  }
}
.formulario__RRHH {
  width: 25rem;
  height: 22.5rem;
  text-align: $textAlineacion-terciaria;
  margin: 1.875rem 1.875rem 0 0;
  border-radius: 10px;
  border-width: 3px;
  @media (max-width: 767px) {
    width: 23.75rem;
    height: 21.875rem;
    text-align: $textAlineacion-primaria;
    margin: 1.875rem 0 0 0;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 18.125rem;
    height: 18.75rem;
    margin: 1.875rem 0 0 0;
  }
}
.sub__titulo__RRHH {
  text-align: $textAlineacion-terciaria;
  margin: 1.5625rem 0 0.625rem 1.875rem;
  @media (max-width: 767px) {
    margin: 0 0 0.625rem 1.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin: 0 0 0.625rem 0.9375rem;
  }
}
.texto__RRHH {
  text-align: $textAlineacion-terciaria;
  margin: 0 1.875rem 0 1.875rem;
  @media (max-width: 767px) {
    margin: 0.3125rem 1.875rem 0 1.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin: 0.3125rem 0.9375rem 0 0.9375rem;
  }
}
.casilla {
  width: 22.5rem;
  height: 2.5rem;
  margin: 0.625rem 0.9375rem 0.625rem 0.9375rem;
  border-width: 1px;
  border-radius: 10px;
  padding: 0.625rem;
  @media (max-width: 767px) {
    width: 21.25rem;
    height: 2.5rem;
    margin: 0.625rem 0.9375rem 0.625rem 0.9375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 16.25rem;
    height: 1.875rem;
    margin: 0.625rem 0.3125rem 0.625rem 0.3125rem;
  }
}
.casilla__mensaje {
  width: 22.5rem;
  height: 5rem;
  margin: 0.3125rem 0.9375rem 0 0.9375rem;
  border-width: 1px;
  border-radius: 10px;
  padding: 0.625rem;
  @media (max-width: 767px) {
    width: 21.25rem;
    height: 5rem;
    margin: 0.3125rem 0.9375rem 0 0.9375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 16.25rem;
    height: 4.375rem;
    margin: 0.3125rem 0.3125rem 0 0.3125rem;
  }
}
.botones__dos {
  text-align: $textAlineacion-primaria;
}
.boton {
  width: 9.375rem;
  height: 2.5rem;
  padding: 0.625rem;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 1.25rem;
  @media (max-width: 767px) {
    width: 8.75rem;
    height: 2.5rem;
    padding: 0.625rem;
    margin-top: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 6.875rem;
    height: 2.125rem;
    padding: 0.3125rem;
  }
}
.info__extra__dos {
  width: 25rem;
  height: 15rem;
  border-radius: 10px;
  border-width: 3px;
  margin-top: 1.875rem;
  @media (max-width: 767px) {
    width: 23.75rem;
    height: 10.625rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 18.125rem;
    height: 10rem;
  }
}
.titulo__img__dos {
  margin-top: 3.125rem;
  @media (max-width: 767px) {
    margin-top: 2.188rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin-top: 2.188rem;
  }
}
.texto__img__dos {
  margin-bottom: 2.188rem;
  @media (max-width: 767px) {
    margin-bottom: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin-bottom: 1.25rem;
  }
}
