/*** Colores - Tratamientos ***/

.fondo__color__tratamientos {
  background-color: $baseTerciaria-color;
}
.titulo__principal,
.descripciones__uno {
  color: $fuentePrimaria-color;
}
.sub__titulo__tratamiento,
.listado {
  color: $fuenteSecundaria-color;
}
.imagen__tratamiento {
  box-shadow: 0 0.625rem 1.875rem 0 $basePrimaria-color;
  @media (max-width: 767px) {
    box-shadow: 0 0.625rem 1.25rem 0 $basePrimaria-color;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    box-shadow: 0 0.625rem 0.9375rem 0 $basePrimaria-color;
  }
}
