/*** Fuentes - Tratamientos ***/

.titulo__principal {
  font-weight: $fuente-mayor;
  font-size: 1.4375rem;
  @media (max-width: 767px) {
    font-size: 1.125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.9375rem;
  }
}
.sub__titulo__tratamiento {
  font-size: 1.375rem;
  @media (max-width: 767px) {
    font-size: 0.9375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875rem;
  }
}
.listado {
  font-weight: $fuente-mayor;
  font-size: 0.875rem;
  @media (max-width: 767px) {
    font-size: 0.75rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.625rem;
  }
}
.descripciones__uno {
  font-weight: $fuente-media;
  font-size: 0.875rem;
  @media (max-width: 767px) {
    font-size: 0.8125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.6875rem;
  }
}
