/*** Fuentes - Tratamientos ***/

.titulo__principal {
  font-weight: $fuente-mayor;
  font-size: 1.4375rem;
  @media (max-width: 767px) {
    font-size: 1.125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 1rem;
  }
}
.sub__titulo__tratamiento {
  font-size: 1.344rem;
  font-weight: $fuente-mayor;
  @media (max-width: 767px) {
    font-size: 0.938rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875rem;
  }
}
.listado {
  font-weight: $fuente-media;
  font-size: 0.906rem;
  @media (max-width: 767px) {
    font-size: 0.844rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.descripciones__uno {
  font-weight: $fuente-media;
  font-size: 0.906rem;
  @media (max-width: 767px) {
    font-size: 0.844rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.719rem;
  }
}
