/*** Fuentes - Tratamientos ***/

.titulo__principal {
  font-size: 1.375rem;
  @media (max-width: 767px) {
    font-size: 1.125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.938rem;
  }
}
.sub__titulo__tratamiento {
  font-size: 1.375rem;
  @media (max-width: 767px) {
    font-size: 1.125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.938rem;
  }
}
.listado {
  font-size: 1rem;
  @media (max-width: 767px) {
    font-size: 0.938rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.813rem;
  }
}
.descripciones__uno {
  font-size: 0.938rem;
  @media (max-width: 767px) {
    font-size: 0.906rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
