/*** Colores - Contacto ***/

.color__fondo {
  background-color: $baseTerciaria-color;
}
.titulo__contacto,
.texto__contacto,
.contacto__uno,
.contacto__dos,
.texto__img {
  color: $fuentePrimaria-color;
}
.formulario__uno {
  border-color: $basePrimaria-color;
  border-style: solid;
}
.casillas,
.opciones,
.casilla__consulta {
  background-color: $baseSecundaria-color;
  border-color: $fuenteSecundaria-color;
  border-style: solid;
}
.boton {
  background-color: $basePrimaria-color;
  color: $fuentePrimaria-color;
  border-color: $fuenteSecundaria-color;
  border-style: solid;
}
.boton:hover {
  background-color: $baseSecundaria-color;
}
.boton:active {
  background-color: $baseCuaternaria-color;
}
.info__extra {
  background-color: $baseSecundaria-color;
  border-color: $basePrimaria-color;
  border-style: solid;
}
.titulo__img,
.frase__img {
  color: $fuenteSecundaria-color;
}
