@import "../tratamientos/fuentes";

/*** Fuentes - Contacto ***/

 .titulo__contacto {
  font-size: 1.375rem;
  @media (max-width: 767px) {
    font-size: 1.125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.938rem;
  }
}
.texto__contacto {
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.813rem;
  }
}
.casillas {
  font-family: Georgia;
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.contacto__uno {
  font-family: "Merienda", cursive;
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.opciones {
  font-family: Georgia;
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.casilla__consulta {
  font-family: Georgia;
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.8125rem;
  }
}
.contacto__dos {
  font-size: 0.75rem;
  @media (max-width: 767px) {
    font-size: 0.75rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.688rem;
  }
}
.botones {
  font-size: 0.3125rem;
  @media (max-width: 767px) {
    font-size: 0.3125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875rem;
  }
}
.boton {
  font-family: "Merienda", cursive;
  font-size: 0.875rem;
  @media (max-width: 767px) {
    font-size: 0.8125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.813rem;
  }
}
.titulo__img {
  font-size: 1.125rem;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.938rem;
  }
}
.texto__img {
  font-size: 1rem;
  @media (max-width: 767px) {
    font-size: 0.938rem
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875rem;
  }
}
.frase__img {
  font-size: 1.75rem;
  @media (max-width: 767px) {
    font-size: 1.563rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 1.25rem;
  }
}

.frase__img__dos {
  font-size: 1.063rem;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.938rem;
  }
}