/*** Medidas - Contacto ***/

.color__fondo {
  height: auto;
  padding-top: 65px;
  @media (max-width: 767px) {
    padding-top: 25px;
    height: auto;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    padding-top: 20px;
    height: auto;
  }
}
.titulo__contacto {
  text-align: $textAlineacion-primaria;
  margin: 1.25rem 0 0.625rem 0.313rem;
}

.texto__contacto {
  margin: 1.25rem 2.5rem 1.25rem 2.5rem;
  @media (max-width: 767px) {
  text-align: $textAlineacion-terciaria;
  margin: 1.25rem 0.9375rem 1.25rem 0.9375rem;
}
}
.contacto__uno {
  text-align: $textAlineacion-terciaria;
  margin: 0 2.5rem 0.9375rem 2.5rem;
  @media (max-width: 767px) {
  text-align: $textAlineacion-terciaria;
  margin: 0 0.9375rem 0.9375rem 0.9375rem;
}
}
.contacto__dos {
  text-align: $textAlineacion-terciaria;
  margin: 0.3125rem 2.5rem 1.25rem 2.5rem;
  @media (max-width: 767px) {
  text-align: $textAlineacion-terciaria;
  margin: 0.3125rem 0.9375rem 1.25rem 0.9375rem;
}
}
input[type="checkbox"]:checked {
  width: 1.125rem;
  height: 1.125rem;
}
.botones {
  text-align: end;
  margin: 1.125rem 2.5rem 0 0;
  @media (max-width: 767px) {
    text-align: $textAlineacion-primaria;
    margin: 1.125rem 1.125rem 0 0;
  }
}

.formulario__uno {
  width: 47.5rem;
  height: auto;
  padding-bottom: 1.25rem;
  padding-top: 0.625rem;
  border-radius: 0.625rem;
  border-width: 0.3125rem;
  margin: 1.875rem 0 0 0;
  @media (max-width: 767px) {
    width: 26.25rem;
    margin: 1.875rem 0.3125rem 0 0.3125rem;
    padding-bottom: 0.398rem;
    padding-top: 0;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 20.625rem;
    margin-top: 1.875rem;
  }
}
.casillas {
  width: 41.875rem;
  height: 2.5rem;
  margin: 0 2.5rem 0.625rem 2.5rem;
  border-width: 1px;
  border-radius: 10px;
  padding: 0.625rem;
  @media (max-width: 767px) {
    width: 23.75rem;
    height: 2.5rem;
    margin: 0 0 0.625rem 0.9375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 18.125rem;
    height: 2.1875rem;
    margin: 0 0 0.625rem 0.9375rem;
  }
}
.opciones {
  width: 6.25rem;
  height: 2.5rem;
  margin: 0.3125rem 0 0 0.3125rem;
  padding: 0 0.625rem 0 0.625rem;
  border-width: 1px;
  border-radius: 10px;
  @media (max-width: 767px) {
    width: 5.625rem;
    height: 2.5rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 6.25rem;
    height: 2.1875rem;
  }
}
.casilla__consulta {
  width: 41.875rem;
  height: 5.313rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  border-width: 1px;
  border-radius: 10px;
  padding: 0.625rem;
  @media (max-width: 767px) {
    width: 23.75rem;
    margin-left: 0.9375rem;
    margin-right: 0;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 18.125rem;
    margin-left: 0.9375rem;
  }
}
.boton {
  width: 10.625rem;
  height: 2.5rem;
  padding: 0.625rem 0.625rem 0.938rem 0.625rem;
  margin: 0.625rem 0 0.875rem 1.25rem;
  border-width: 1px;
  border-radius: 10px;
  @media (max-width: 767px) {
    width: 9.375rem;
    height: 2.5rem;
    padding: 0.625rem;
    margin: 0.625rem 0 0.875rem 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 7.188rem;
    height: 2.125rem;
    padding: 0.3125rem;
    margin: 0.3125rem 0 0.9375rem 1.25rem;
  }
}
.info__extra {
  width: 47.5rem;
  height: auto;
  border-radius: 10px;
  border-width: 5px;
  margin-top: 2.5rem;
  padding-bottom: 1.875rem;
  @media (max-width: 767px) {
    width: 26.25rem;
    margin-top: 1.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 20.625rem;
  }
}
.titulo__img {
  margin-top: 1.875rem;
  @media (max-width: 767px) {
    margin-top: 1.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin-top: 1.875rem;
  }
}
.texto__img {
  margin-bottom: 1.25rem;
}
.frase__img__dos {
  margin: 0.625rem 2.5rem 0 2.5rem;
  text-align: justify;
  margin-bottom: 0.625rem;
  @media (max-width: 767px) {
    margin: 0.625rem 0.938rem 0 0.938rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin: 0.625rem 0.938rem 0 0.938rem;
  }
}
