/*** Medidas - Contacto ***/

.color__fondo {
  height: 81.25rem;
}
.titulo__contacto {
  text-align: $textAlineacion-primaria;
  margin-top: 2.5rem;
}
.texto__contacto {
  text-align: $textAlineacion-terciaria;
  margin: 0.625rem 0.9375rem 1.25rem 0.9375rem;
}
.contacto__uno {
  text-align: $textAlineacion-terciaria;
  margin: 0 0.9375rem 0.9375rem 0.9375rem;
}
.contacto__dos {
  text-align: $textAlineacion-terciaria;
  margin: 0.3125rem 0.9375rem 1.25rem 0.9375rem;
}
input[type="checkbox"]:checked {
  width: 1.125rem;
  height: 1.125rem;
}
.botones {
  text-align: $textAlineacion-primaria;
  margin: 1.125rem 1.125rem 0 0;
}
.texto__img {
  margin-bottom: 1.25rem;
}
.formulario__uno {
  width: 29.375rem;
  height: 34.063rem;
  border-radius: 10px;
  border-width: 0.3125rem;
  margin: 1.875rem 1.25rem 0 1.25rem;
  @media (max-width: 767px) {
    width: 26.25rem;
    height: 33.438rem;
    margin: 1.875rem 0.3125rem 0 0.3125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 20.625rem;
    height: 30.313rem;
    margin-top: 1.875rem;
  }
}
.casillas {
  width: 26.875rem;
  height: 2.5rem;
  margin: 0 0 0.625rem 0.9375rem;
  border-width: 1px;
  border-radius: 10px;
  padding: 0.625rem;
  @media (max-width: 767px) {
    width: 23.75rem;
    height: 2.5rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 18.125rem;
    height: 2.1875rem;
  }
}
.opciones {
  width: 6.25rem;
  height: 2.5rem;
  margin: 0.3125rem 0 0 0.3125rem;
  border-width: 1px;
  border-radius: 10px;
  @media (max-width: 767px) {
    width: 5.625rem;
    height: 2.5rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 6.25rem;
    height: 2.1875rem;
  }
}
.casilla__consulta {
  width: 26.875rem;
  height: 5rem;
  margin-left: 0.9375rem;
  border-width: 1px;
  border-radius: 10px;
  padding: 0.625rem;
  @media (max-width: 767px) {
    width: 23.75rem;
    height: 5rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 18.125rem;
    height: 4.375rem;
  }
}
.boton {
  width: 10.625rem;
  height: 2.5rem;
  padding: 0.625rem;
  margin: 0.625rem 0 0.875rem 1.25rem;
  border-width: 1px;
  border-radius: 10px;
  @media (max-width: 767px) {
    width: 9.375rem;
    height: 2.5rem;
    padding: 0.625rem;
    margin: 0.625rem 0 0.875rem 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 7.188rem;
    height: 2.125rem;
    padding: 0.3125rem;
    margin: 0.3125rem 0 0.9375rem 1.25rem;
  }
}
.info__extra {
  width: 29.375rem;
  height: 10.625rem;
  border-radius: 10px;
  border-width: 5px;
  margin-top: 1.875rem;
  @media (max-width: 767px) {
    width: 26.25rem;
    height: 9.375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 20.625rem;
    height: 8.75rem;
  }
}
.titulo__img {
  margin-top: 1.563rem;
  @media (max-width: 767px) {
    margin-top: 1.563rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin-top: 1.25rem;
  }
}
.imagen__tarjetas {
  width: 32.5rem;
  height: 25.625rem;
  margin-top: 1.25rem;
  @media (max-width: 767px) {
    width: 30rem;
    height: 24.375rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 21.563rem;
    height: 15.625rem;
  }
}
