/*** Estructura - Nosotros ***/

@mixin contenedor-nosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "header_container"
    "nav_container"
    "empresa__container"
    "footer_container";
}
.grid_container {
  @media (max-width: 1200px) {
    @include contenedor-nosotros;
    grid-template-rows: 11.25rem 3.125rem 85rem 3.75rem;
    grid-auto-flow: row;
  }
  @media (max-width: 767px) {
    @include contenedor-nosotros;
    grid-template-rows: 10rem 3.125rem 85rem 3.75rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    @include contenedor-nosotros;
    grid-template-rows: 7.5rem 3.125rem 85rem 3.125rem;
  }
}
.empresa__container {
  grid-area: empresa__container;
  display: flex;
  flex-direction: row;
  text-align: $textAlineacion-terciaria;
  align-items: $alineacionItem-terciario;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: $alineacionItem-primario;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    flex-direction: column;
    align-items: $alineacionItem-primario;
  }
}
.info__extra__dos {
  display: flex;
  flex-direction: column;
  align-items: $alineacionItem-primario;
}
