/*** Fuentes - Nosotros ***/

.titulo__nosotros {
  font-size: 1.4375rem;
  @media (max-width: 767px) {
    font-size: 1.125rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.9375rem;
  }
}
.sub__titulo__nosotros {
  font-size: 1.75rem;
  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.875em;
  }
}
.texto__nosotros {
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.844rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.texto__nosotros__dos {
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.844rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.texto__nosotros__tres {
  font-size: 0.9375rem;
  @media (max-width: 767px) {
    font-size: 0.844rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
.frase__nosotros {
  font-size: 0.938rem;
  @media (max-width: 767px) {
    font-size: 0.875rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    font-size: 0.75rem;
  }
}
