/*** Medidas - Nosotros ***/

.color__fondo {
  height: auto;
  padding-top: 90px;
  @media (max-width: 767px) {
    padding-top: 60px;
    height: auto;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    padding-top: 50px;
    height: auto;
  }

}
.texto__nosotros {
  text-align: $textAlineacion-terciaria;
  margin: 0.625rem 2.5rem 0 2.5rem;
}
.texto__nosotros__dos {
  text-align: $textAlineacion-terciaria;
  margin: 0.3125rem 2.5rem 0 2.5rem;
}
.texto__nosotros__tres {
  text-align: $textAlineacion-terciaria;
  margin: 0.3125rem 2.5rem 0 2.5rem;
}
.frase__nosotros {
  text-align: $textAlineacion-terciaria;
  margin: 0.625rem 2.5rem 2.5rem 2.5rem;
}
.info__extra__dos {
  width: 15rem;
  height: 10.625rem;
  border-radius: 10px;
  border-width: 5px;
  margin-top: 3.75rem;
}
.titulo__img__dos {
  margin-top: 1.875rem;
}
.texto__img__dos {
  margin-bottom: 1.25rem;
}
.img__nosotros {
  width: 25rem;
  height: 36.875rem;
  border-radius: 10px;
  margin: 1.875rem 0 0 2.5rem;
  @media (max-width: 767px) {
    width: 25rem;
    height: 36.875rem;
    margin: 0;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    width: 18.75rem;
    height: 29.375rem;
    margin: 0;
  }
}
.sub__titulo__nosotros {
  text-align: $textAlineacion-primaria;
  margin: 1.875rem 40px 0.9375rem 40px;
  @media (max-width: 767px) {
    margin: 1.875rem 0 0.938rem;
  }
  @media screen and (min-width: 350px) and (max-width: 500px) {
    margin: 1.875rem 2.5rem 0.625rem 2.5rem;
  }
}
